[Unit]
Description=Isolated Hololive YouTube PO issuer socket

[Socket]
ListenStream=/run/hololive-youtube-po/worker.sock
SocketUser=hololive
SocketGroup=opc
SocketMode=0660
DirectoryMode=0755
Service=hololive-youtube-po.service
RemoveOnStop=yes

[Install]
WantedBy=sockets.target
