go 1.26.2

toolchain go1.26.4

use (
	../iris-client-go
	../shared-go
	./
	./admin-dashboard/backend
	./hololive/hololive-admin-api
	./hololive/hololive-alarm-worker
	./hololive/hololive-kakao-bot-go
	./hololive/hololive-llm-sched
	./hololive/hololive-shared
	./hololive/hololive-youtube-producer
)
