go 1.26.3

toolchain go1.26.3

use (
	../shared-go
	./
	./hololive/hololive-admin-api
	./hololive/hololive-alarm-worker
	./hololive/hololive-kakao-bot-go
	./hololive/hololive-llm-sched
	./hololive/hololive-shared
	./hololive/hololive-youtube-producer
)
