{{template "emoji_alarm" .}} {{.ChannelName}} 방송 예정

{{- if .ScheduledTimeKST}}
{{template "emoji_time" .}} {{.ScheduledTimeKST}} 방송예정
{{- else}}
{{template "emoji_time" .}} 곧 시작합니다!
{{- end}}

{{- if .ScheduleMessage}}
{{template "emoji_schedule" .}} {{.ScheduleMessage}}
{{- end}}

{{template "emoji_broadcast" .}} {{.Title}}

{{template "emoji_link" .}} {{.URL}}
